
{% extends "layout.html" %}
{% block content %}
<div class="content-section">

    <div class="media">

        <img class="rounded-circle account-img" src="{{ '../static/profile_pics/' + user.username + '/' + user.image_file }}">
        <div class = "media-body">
            <h1>User: {{ user.username }}</h1>
        {% if user.about %}
            <p>{{ user.about }}
        </p>{% endif %}
        {% if user.last_seen %}
            <p>Last seen on: {{ user.last_seen }}
        </p>{% endif %}
        <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
        {% if user == current_user %}
        <p><a href="{{ url_for('account') }}">Edit your profile</a></p>
        {% elif not current_user.is_following(user) %}
        <p><a href="{{ url_for('follow', username=user.username) }}">Follow</a></p>
        {% else %}
        <p><a href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a></p>
        {% endif %}

        </div>
    </div>
</div>


    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}


{% endblock content %}
